$xanadu: #79877fff;
$linen: #f7ede2ff;
$isabelline: #f8f5f1ff;
$misty-rose: #f9e0dcff;
$navajo-white: #fbdfb2ff;
$melon: #eead96ff;
$new-york-pink: #e07b79ff;
$green-sheen: #7da79cff;

$body-color: #252d2d;
$body-bg: #F8F8F8;
$link-color: #eead96ff;
$link-hover-color: #e07b79ff;

$theme-colors: (
    "primary": #79877fff,
    "secondary": #f7ede2ff,
    "light": #E8E6E5,
    "muted": #fbdfb2ff,
    "dark": #252d2d,
    "info": #eead96ff,
    "danger": #e07b79ff,
    "success": #7da79cff
);

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

.brand-font {
    font-family: 'Megrim', cursive;
    font-weight: 800;
}

.basic-font {
    font-family: 'Lato', sans-serif;
}

nav.basic-font {
    font-family: 'Lato', sans-serif;
}

input.form-control,
textarea.form-control {
    background-color: white;
}

nav.navbar.custom-navbar .navbar-collapse .navbar-nav a,
.navbar-text {

    color: var(--bs-primary) !important;
}

nav.navbar.custom-navbar .navbar-brand {

    color: var(--bs-primary) !important;
}

#draggableCards .drag-card {
    cursor: move;
}

#map {
    width: 100%;
    height: 300px;
}