// Your variable overrides
$body-color: #023336;
$body-bg: #E9EFE5;
$link-color: #5F0F40;
$link-hover-color: #9e89b1;

$theme-colors: (
    "primary": #023336,
    "secondary": #5F0F40,
    "light": #FFEFE0,
    "muted": #9e89b1,
    "dark": #023336,
    "info": #A54001,
    "danger": #9A031E
);

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";