<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <h1>
        <%= plan.name %>
    </h1>
    <h2>
        <%= plan.location%>
    </h2>
    <p>
        <a href="/plans/<%= plan._id%>/edit">Edit</a>
    </p>
    <p>
    <form action="/plans/<%= plan._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    </p>
    <footer>
        <a href="/plans">Back to the list</a>
    </footer>
</body>

</html>