<% layout('layouts/boilerplate') %>


    <div>
        <img class="img-fluid mx-auto" src="/img/david-marcu-78A265wPiO4-unsplash.jpg" alt="Travel" />
        <h1 class="display-1 brand-font carousel-caption">Plan<i class="bi bi-signpost-2-fill"></i>Ahead</h1>
    </div>