.brand-font {
    font-family: 'Megrim', cursive;
    font-weight: 800;
}

.basic-font {
    font-family: 'Lato', sans-serif;
}

nav.basic-font {
    font-family: 'Lato', sans-serif;
}

input.form-control,
textarea.form-control {
    background-color: white;
}

nav.navbar.custom-navbar .navbar-collapse .navbar-nav a,
.navbar-text {

    color: var(--bs-primary) !important;
}

nav.navbar.custom-navbar .navbar-brand {

    color: var(--bs-primary) !important;
}