.brand-font {
    font-family: 'Megrim', cursive;
    font-weight: 800;
}

.basic-font {
    font-family: 'Lato', sans-serif;
}

nav.basic-font {
    font-family: 'Lato', sans-serif;
}

input.form-control,
textarea.form-control {
    background-color: white;
}

.home {
    background-image: url(david-marcu-78A265wPiO4-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}